* {
    box-sizing: border-box;
    font-size: 1rem;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Remove wikipedia content that is not needed */
.mw-references-wrap, .mw-headline, .mw-editsection, .reference, img, .thumbcaption, .side-box-text, .hatnote, .side-box-right, .side-box-abovebelow, .error{
    display: none;
}

.mw-parser-output .side-box{
    display: none;
}

a {
    text-decoration-line: none;
    color:black;
    pointer-events: none;
}

li {
    list-style-type: square;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: grid;
}

.heading {
    line-height: 1.5em;
}

.main-content {
    display: grid;
    gap: 1.5em;
    width: 400px;
    place-self: center;
}

.button {
    place-self: center;
}

.newButton {
    max-height: 25px;
    white-space: nowrap;
}

.title {
 text-align: center;
}

.controls {
    display: flex;
    gap: 1em;
    max-height: 25px
}

.content {
    border-radius: 8px;
    padding: 2em;
    /* box-shadow:  0 0em 3em rgba(0, 0, 0, 0.1), 0 0 5px 2px #c4b5fd,
    0.3em 0.3em 1em #c4b5fd; */
    border: 2px solid black;
    box-shadow: 12px 12px 2px 1px #c4b5fd;
 }